In [1]:
import pandas as pd

In [2]:
data= pd.read_csv('../data/AFCARS2000-2021/DATA2021.CSV')

In [3]:
data

,FY,Version,State,St,RepDatYr,RepDatMo,FIPSCode,RecNumbr,Sex,AmIAKN,...,EmotDist,OtherMed,EverAdpt,AgeAdopt,TotalRem,NumPlep,ManRem,PhyAbuse,SexAbuse,Neglect
0,2020,1,1,AL,2021,3,8.0,000003283002,2.0,0.0,...,0.0,0.0,2.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0
1,2020,1,1,AL,2021,3,8.0,000008140241,2.0,0.0,...,0.0,0.0,2.0,0.0,1.0,2.0,2.0,0.0,0.0,1.0
2,2020,1,1,AL,2021,3,8.0,000010190033,1.0,0.0,...,0.0,0.0,2.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0
3,2020,1,1,AL,2021,3,8.0,000012980423,2.0,0.0,...,1.0,0.0,2.0,0.0,1.0,1.0,2.0,1.0,0.0,1.0
4,2020,1,1,AL,2021,3,8.0,000016356333,2.0,0.0,...,0.0,0.0,2.0,0.0,1.0,1.0,2.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631888,2020,1,72,PR,2020,9,8.0,997525892893,1.0,0.0,...,0.0,0.0,3.0,0.0,1.0,8.0,2.0,0.0,1.0,1.0
631889,2020,1,72,PR,2020,9,8.0,998525804293,1.0,0.0,...,0.0,0.0,3.0,0.0,1.0,6.0,2.0,0.0,0.0,1.0
631890,2020,1,72,PR,2021,3,8.0,999325897393,1.0,0.0,...,0.0,0.0,2.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0
631891,2020,1,72,PR,2020,3,8.0,999625828693,2.0,0.0,...,0.0,0.0,2.0,0.0,1.0,4.0,2.0,0.0,0.0,1.0
631892,2020,1,72,PR,2020,9,8.0,999925860793,2.0,0.0,...,0.0,0.0,2.0,0.0,1.0,3.0,2.0,0.0,0.0,1.0

### Preliminary Analysis

In [45]:
data['FY'].unique()

array([2020])

In [5]:
data['Version'].unique()

array([1])

In [6]:
data['State'].unique()

array([ 1,  2,  4,  5,  6,  8,  9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20,
       21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38,
       39, 40, 42, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 72, 23, 41,
       56])

In [7]:
data['St'].unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'MD', 'MA', 'MI',
       'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC',
       'ND', 'OH', 'OK', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT',
       'VA', 'WA', 'WV', 'WI', 'PR', 'ME', 'OR', 'WY'], dtype=object)

In [8]:
data['RepDatYr'].unique()

array([2021, 2020])

In [9]:
data['RepDatMo'].unique()

array([3, 9])

Local Agency FIPS Code:

In [ ]:
data['FIPSCode'].unique()

array([8.0000e+00, 2.0200e+03, 4.0130e+03, 4.0190e+03, 6.0590e+03,
       6.0290e+03, 6.0370e+03, 6.0190e+03, 6.0730e+03, 6.0010e+03,
       6.0770e+03, 6.0650e+03, 6.0670e+03, 6.0710e+03, 6.0850e+03,
       8.0310e+03, 8.0410e+03, 9.0030e+03, 1.2081e+04, 1.2127e+04,
       1.2011e+04, 1.2105e+04, 1.2095e+04, 1.2083e+04, 1.2057e+04,
       1.2086e+04, 1.2009e+04, 1.2103e+04, 1.2031e+04, 1.3089e+04,
       1.5003e+04, 1.7031e+04, 1.7163e+04, 1.7167e+04, 1.7143e+04,
       1.7201e+04, 1.8089e+04, 1.8003e+04, 1.8097e+04, 1.9153e+04,
       2.5017e+04, 2.5025e+04, 2.5009e+04, 2.5013e+04, 2.5005e+04,
       2.5027e+04, 2.7123e+04, 2.7053e+04, 2.9095e+04, 3.0111e+04,
       3.1055e+04, 3.2003e+04, 3.6061e+04, 3.6029e+04, 3.7051e+04,
       3.9035e+04, 3.9061e+04, 3.9049e+04, 3.9095e+04, 3.9153e+04,
       4.0109e+04, 4.2101e+04, 4.2003e+04, 4.4007e+04, 4.7037e+04,
       4.7157e+04, 4.7093e+04, 4.8309e+04, 4.8453e+04, 4.8201e+04,
       4.8113e+04, 4.8439e+04, 4.8029e+04, 4.8027e+04, 4.9035e+04,
       5.4039e+04, 1.0730e+03, 4.0210e+03, 6.1070e+03,        nan,
       9.0090e+03, 1.2101e+04, 1.2071e+04, 1.2099e+04, 2.0173e+04,
       2.1111e+04, 2.4510e+04, 2.6081e+04, 2.6163e+04, 2.9189e+04,
       3.2031e+04, 3.5001e+04, 4.0143e+04, 4.1051e+04, 4.1039e+04,
       4.5045e+04, 4.8303e+04, 5.3033e+04, 5.3053e+04, 5.3061e+04,
       5.3063e+04, 5.5079e+04])

In [11]:
data.head()

,FY,Version,State,St,RepDatYr,RepDatMo,FIPSCode,RecNumbr,Sex,AmIAKN,...,EmotDist,OtherMed,EverAdpt,AgeAdopt,TotalRem,NumPlep,ManRem,PhyAbuse,SexAbuse,Neglect
0,2020,1,1,AL,2021,3,8.0,000003283002,2.0,0.0,...,0.0,0.0,2.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0
1,2020,1,1,AL,2021,3,8.0,000008140241,2.0,0.0,...,0.0,0.0,2.0,0.0,1.0,2.0,2.0,0.0,0.0,1.0
2,2020,1,1,AL,2021,3,8.0,000010190033,1.0,0.0,...,0.0,0.0,2.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0
3,2020,1,1,AL,2021,3,8.0,000012980423,2.0,0.0,...,1.0,0.0,2.0,0.0,1.0,1.0,2.0,1.0,0.0,1.0
4,2020,1,1,AL,2021,3,8.0,000016356333,2.0,0.0,...,0.0,0.0,2.0,0.0,1.0,1.0,2.0,0.0,1.0,0.0

In [13]:
data['RecNumbr'].nunique()

631877

Child Sex:

| Value | Value Label |
| --- | --- |
| 1 | Male |
| 2 | Female |

In [65]:
data['Sex'].unique()

array([ 2.,  1., nan])

Child Race American Indian or Alaska Native:

| Value | Value Label |
| --- | --- |
| 0 | Does Not Apply |
| 1 | Applies |

In [17]:
data['AmIAKN'].unique()

array([ 0.,  1., nan])

In [20]:
data['Asian'].unique()

array([ 0.,  1., nan])

In [21]:
data['BlkAfrAm'].unique()

array([ 1.,  0., nan])

Child Race Native Hawaiian or Other Pacific Islander:


| Value | Value Label |
| --- | --- |
| 0 | Does Not Apply |
| 1 | Applies |

In [22]:
data['HawaiiPI'].unique()

array([ 0.,  1., nan])

In [23]:
data['White'].unique()

array([ 0.,  1., nan])

Child Race Unable to Determine:


• The child is very young or severely disabled and no person is available to determine the child's race.
• ‘‘Unable to determine’’ is also used if the parent, relative or guardian is incapacitated or unwilling to identify the child’s race.
• If one of the races is selected (coded as 1), this value should not also be selected.


| Value | Value Label |
| --- | --- |
| 0 | Does Not Apply |
| 1 | Applies |

In [26]:
data['UnToDetm'].unique()

array([ 0.,  1., nan])

Child Hispanic or Latino Ethnicity:

Definition:
The child is of Mexican, Puerto Rican, Cuban, Central or South American origin, or a person of other Spanish cultural origin. Whether or not a person is Hispanic or Latino is determined by how they define themselves or by how others define them. In the case of young children, parents determine the ethnicity of the child.

Guidance:
‘‘Unable to Determine’’ is used when the child is very young or is severely disabled and no person is available to determine whether or not the child is Hispanic or Latino. ‘‘Unable to determine’’ is also used if the parent, relative or guardian is unwilling to identify the child’s ethnicity.
People who identify their origin as Spanish, Hispanic, or Latino may be of any race. Thus, the percent Hispanic should not be added to percentages for racial categories.
Origin can be viewed as the heritage, nationality group, lineage, or country of birth of the person or the person's parents or ancestors before their arrival in the United States.


| Value | Value Label |
| --- | --- |
| 1 | Yes |
| 2 | No |
| 3 | Unable to Determine |

In [27]:
data['HisOrgin'].unique()

array([ 2.,  1.,  3., nan])

Child Has Been Clinically Diagnosed with Disability:

* Yes indicates that a qualified professional has clinically diagnosed the child as having at least one of the disabilities listed in items #19 through #22.
* No indicates that a qualified professional has conducted a clinical assessment of the child and has determined that the child has no disabilities.
* Not yet determined indicates that a clinical assessment of the child by a qualified professional has not been conducted.

| Value | Value Label |
| --- | --- |
| 1 | Yes |
| 2 | No |
| 3 | Not Yet Determined |

In [28]:
data['ClinDis'].unique()

array([ 1.,  2.,  3., nan])

Mental Retardation:

Significantly subaverage general cognitive and motor functioning existing concurrently with deficits in adaptive behavior manifested during the developmental period that adversely affect a child's/youth's socialization and learning.


| Value | Value Label |
| --- | --- |
| 0 | Does Not Apply |
| 1 | Applies |

In [29]:
data['MR'].unique()

array([ 1.,  0., nan])

Visually or Hearing Impaired:
Having a visual impairment that may significantly affect educational performance or development; or a hearing impairment, whether permanent or fluctuating, that adversely affects educational performance.

| Value | Value Label |
| --- | --- |
| 0 | Does Not Apply |
| 1 | Applies |

In [31]:
data['VisHear'].unique()

array([ 0., nan,  1.])

Physically Disabled:

A physical condition that adversely affects the child's day-to-day motor functioning, such as cerebral palsy, spina bifida, multiple sclerosis, orthopedic impairments, and other physical disabilities.

| Value | Value Label |
| --- | --- |
| 0 | Does Not Apply |
| 1 | Applies |

In [32]:
data['PhyDis'].unique()

array([ 0., nan,  1.])

Emotionally Disturbed:

| Value | Value Label |
| --- | --- |
| 0 | Does Not Apply |
| 1 | Applies |

In [33]:
data['EmotDist'].unique()

array([ 0.,  1., nan])

Other Medically Diagnosed Condition Requiring Special Care:

| Value | Value Label |
| --- | --- |
| 0 | Does Not Apply |
| 1 | Applies |

In [34]:
data['OtherMed'].unique()

array([ 0., nan,  1.])

Child Has Previously Been Adopted:

This value is “yes” only if a child has been adopted before the current/most recent removal episode.
‘‘Unable to Determine’’: the child has been abandoned or the child’s parent(s) are otherwise not available to provide the information.


| Value | Value Label |
| --- | --- |
| 1 | Yes |
| 2 | No |
| 3 | Not Yet Determined |

In [35]:
data['EverAdpt'].unique()

array([ 2.,  1., nan,  3.])

In [36]:
data.columns

Index(['FY', 'Version', 'State', 'St', 'RepDatYr', 'RepDatMo', 'FIPSCode',
       'RecNumbr', 'Sex', 'AmIAKN', 'Asian', 'BlkAfrAm', 'HawaiiPI', 'White',
       'UnToDetm', 'HisOrgin', 'ClinDis', 'MR', 'VisHear', 'PhyDis',
       'EmotDist', 'OtherMed', 'EverAdpt', 'AgeAdopt', 'TotalRem', 'NumPlep',
       'ManRem', 'PhyAbuse', 'SexAbuse', 'Neglect'],
      dtype='object')

Age on Date of Legal Adoption:

The response “not applicable” is only used if the child is known to have not been previously adopted (response to variable 24 is “no”).

| Value | Value Label |
| --- | --- |
| 0 | Not Applicable |
| 1 | Less than 2 years old |
| 2 | 2-5 years old |
| 3 | 6-12 years old |
| 4 | 13 years or older |
| 5 | Unable to determine |

In [37]:
data['AgeAdopt'].unique()

array([ 0., nan,  5.,  1.,  2.,  3.,  4.])

Total Number of Removals from Home:

The number of times the child was removed from home, including the current removal.

In [38]:
data['TotalRem'].unique()

array([ 1.,  2.,  3.,  4.,  5.,  6., nan,  7.,  9.,  8., 10., 12., 11.])

Number of Placement Settings in Current FC Episode:

The number of places the child has lived, including the current setting, during the current removal episode.

In [39]:
data['NumPlep'].unique()

array([ 1.,  2.,  3.,  5., nan, 10.,  4.,  6.,  8.,  7., 11.,  9., 17.,
       14., 12., 21., 26., 13., 15., 28., 19., 16., 20., 29., 22., 23.,
       18., 24., 27., 40., 36., 32., 38., 33., 31., 30., 43., 54., 41.,
       39., 25., 35., 45., 42., 52., 47., 34., 46., 44., 72., 37., 85.,
       75., 90., 53., 60., 99., 50., 96., 64., 66., 57., 91., 62., 55.,
       51., 49., 59., 56., 79., 74., 87., 70., 48., 69., 81., 67., 89.,
       63., 61., 92., 58., 65., 88., 71., 68., 84., 86., 78., 73., 94.,
       76., 82., 93., 95., 97.])

Removal Manner:

Manner of removal from home for current episode
* 1 = Voluntary: An official voluntary placement agreement has been executed between the caretaker and the agency. The placement remains voluntary even if a subsequent court order is issued to continue the child in foster care.
* 2 = Court ordered: The court has issued an order which is the basis of the child's removal.
* 3 = Not yet determined: A voluntary placement agreement has not been signed or a court order has not been issued. This will mostly occur in very short-term cases.

| Value | Value Label |
| --- | --- |
| 1 | Voluntary |
| 2 | Court Ordered |
| 3 | Not Yet Determined |

In [40]:
data['ManRem'].unique()

array([ 2.,  3.,  1., nan])

Removal Reason-Physical Abuse:

As a condition associated with a child's removal from home and contact with the foster care system, alleged or substantiated physical abuse, injury or maltreatment of the child by a person responsible for the child's welfare.

| Value | Value Label |
| --- | --- |
| 0 | Condition Does Not Apply |
| 1 | Condition Applies |

In [41]:
data['PhyAbuse'].unique()

array([ 0.,  1., nan])

Removal Reason-Sexual Abuse:

As a condition associated with a child's removal from home and contact with the foster care system, alleged or substantiated sexual abuse or exploitation of a child by a person who is responsible for the child's welfare.

| Value | Value Label |
| --- | --- |
| 0 | Does Not Apply |
| 1 | Applies |

In [43]:
data['SexAbuse'].unique()

array([ 0.,  1., nan])

Removal Reason-Neglect:

As a condition associated with a child's removal from home and contact with the foster care system, alleged or substantiated negligent treatment or maltreatment, including failure to provide adequate food, clothing, shelter or care.

| Value | Value Label |
| --- | --- |
| 0 | Does Not Apply |
| 1 | Applies |

In [44]:
data['Neglect'].unique()

array([ 0.,  1., nan])

### Analysis

In [48]:
data_ma = data[data['St']=='MA']

In [49]:
data_ma

,FY,Version,State,St,RepDatYr,RepDatMo,FIPSCode,RecNumbr,Sex,AmIAKN,...,EmotDist,OtherMed,EverAdpt,AgeAdopt,TotalRem,NumPlep,ManRem,PhyAbuse,SexAbuse,Neglect
329,2020,1,25,MA,2021,3,25017.0,000491884164,2.0,0.0,...,0.0,0.0,2.0,0.0,1.0,1.0,2.0,0.0,0.0,1.0
330,2020,1,25,MA,2021,3,25025.0,000492433310,2.0,0.0,...,0.0,0.0,2.0,0.0,1.0,3.0,2.0,0.0,0.0,1.0
331,2020,1,25,MA,2021,3,25009.0,000493212079,2.0,0.0,...,NaN,NaN,2.0,0.0,2.0,NaN,2.0,0.0,0.0,0.0
332,2020,1,25,MA,2021,3,25017.0,000493470741,1.0,0.0,...,1.0,0.0,2.0,0.0,2.0,2.0,2.0,0.0,0.0,0.0
333,2020,1,25,MA,2021,3,25013.0,000493968526,1.0,0.0,...,NaN,NaN,2.0,0.0,3.0,2.0,2.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306105,2020,1,25,MA,2020,9,25009.0,000499997949,2.0,0.0,...,0.0,0.0,2.0,0.0,1.0,1.0,2.0,0.0,0.0,1.0
306106,2020,1,25,MA,2020,9,25013.0,000499998311,1.0,0.0,...,NaN,NaN,2.0,0.0,2.0,1.0,2.0,0.0,0.0,1.0
306107,2020,1,25,MA,2020,3,25027.0,000499999194,1.0,0.0,...,0.0,0.0,2.0,0.0,3.0,2.0,2.0,0.0,0.0,0.0
306108,2020,1,25,MA,2020,3,25027.0,000499999198,2.0,0.0,...,0.0,0.0,2.0,0.0,3.0,2.0,2.0,0.0,0.0,0.0
306109,2020,1,25,MA,2020,3,8.0,000499999212,1.0,0.0,...,0.0,0.0,2.0,0.0,1.0,1.0,2.0,0.0,0.0,1.0

In [77]:
data_ma.columns

Index(['FY', 'Version', 'State', 'St', 'RepDatYr', 'RepDatMo', 'FIPSCode',
       'RecNumbr', 'Sex', 'AmIAKN', 'Asian', 'BlkAfrAm', 'HawaiiPI', 'White',
       'UnToDetm', 'HisOrgin', 'ClinDis', 'MR', 'VisHear', 'PhyDis',
       'EmotDist', 'OtherMed', 'EverAdpt', 'AgeAdopt', 'TotalRem', 'NumPlep',
       'ManRem', 'PhyAbuse', 'SexAbuse', 'Neglect'],
      dtype='object')

In [78]:
for i in data_ma.columns:
    print(data_ma.groupby(i)['RecNumbr'].count())
    print("Null count: ", data_ma[i].isnull().sum())

FY
2020    14289
Name: RecNumbr, dtype: int64
Null count:  0
Version
1    14289
Name: RecNumbr, dtype: int64
Null count:  0
State
25    14289
Name: RecNumbr, dtype: int64
Null count:  0
St
MA    14289
Name: RecNumbr, dtype: int64
Null count:  0
RepDatYr
2020    14048
2021      241
Name: RecNumbr, dtype: int64
Null count:  0
RepDatMo
3     2879
9    11410
Name: RecNumbr, dtype: int64
Null count:  0
FIPSCode
8.0        2733
25005.0    1814
25009.0    1484
25013.0    2155
25017.0    1627
25025.0    1796
25027.0    2680
Name: RecNumbr, dtype: int64
Null count:  0
RecNumbr
000490093038    1
000490210507    1
000490290507    1
000490375585    1
000490400250    1
               ..
000499997949    1
000499998311    1
000499999194    1
000499999198    1
000499999212    1
Name: RecNumbr, Length: 14289, dtype: int64
Null count:  0
Sex
1.0    7296
2.0    6988
Name: RecNumbr, dtype: int64
Null count:  5
AmIAKN
0.0    13993
1.0      295
Name: RecNumbr, dtype: int64
Null count:  1
Asian
0.0    14053
1.0      235
Name: RecNumbr, dtype: int64
Null count:  1
BlkAfrAm
0.0    10401
1.0     3887
Name: RecNumbr, dtype: int64
Null count:  1
HawaiiPI
0.0    14246
1.0       42
Name: RecNumbr, dtype: int64
Null count:  1
White
0.0    4567
1.0    9721
Name: RecNumbr, dtype: int64
Null count:  1
UnToDetm
0.0    12525
1.0     1763
Name: RecNumbr, dtype: int64
Null count:  1
HisOrgin
1.0    4627
2.0    8840
3.0     821
Name: RecNumbr, dtype: int64
Null count:  1
ClinDis
1.0     2925
2.0    10163
3.0      310
Name: RecNumbr, dtype: int64
Null count:  891
MR
0.0    13016
1.0       72
Name: RecNumbr, dtype: int64
Null count:  1201
VisHear
0.0    12883
1.0      205
Name: RecNumbr, dtype: int64
Null count:  1201
PhyDis
0.0    12988
1.0      100
Name: RecNumbr, dtype: int64
Null count:  1201
EmotDist
0.0    11343
1.0     1745
Name: RecNumbr, dtype: int64
Null count:  1201
OtherMed
0.0    11627
1.0     1461
Name: RecNumbr, dtype: int64
Null count:  1201
EverAdpt
1.0      294
2.0    13522
3.0      473
Name: RecNumbr, dtype: int64
Null count:  0
AgeAdopt
0.0    13522
1.0       35
2.0      137
3.0      111
4.0       11
5.0      473
Name: RecNumbr, dtype: int64
Null count:  0
TotalRem
1.0    10525
2.0     2811
3.0      759
4.0      137
5.0       42
6.0       14
9.0        1
Name: RecNumbr, dtype: int64
Null count:  0
NumPlep
1.0     4409
2.0     3279
3.0     1875
4.0     1218
5.0      856
6.0      559
7.0      473
8.0      326
9.0      260
10.0     194
11.0     163
12.0     135
13.0     103
14.0      78
15.0      74
16.0      46
17.0      36
18.0      25
19.0      29
20.0      22
21.0      21
22.0      10
23.0      16
24.0      10
25.0      11
26.0       3
27.0       8
28.0       6
29.0       3
30.0       2
31.0       3
32.0       1
33.0       2
34.0       1
35.0       4
36.0       1
37.0       2
39.0       2
41.0       2
45.0       1
49.0       1
Name: RecNumbr, dtype: int64
Null count:  19
ManRem
1.0      498
2.0    13703
3.0       84
Name: RecNumbr, dtype: int64
Null count:  4
PhyAbuse
0.0    13172
1.0     1117
Name: RecNumbr, dtype: int64
Null count:  0
SexAbuse
0.0    14028
1.0      261
Name: RecNumbr, dtype: int64
Null count:  0
Neglect
0.0    4433
1.0    9856
Name: RecNumbr, dtype: int64
Null count:  0