In [1]:
import pandas as pd

In [3]:
data = pd.read_excel("../data/SchoolBasedArrestData_MA.xlsx")

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7965 entries, 0 to 7964
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Charge     7965 non-null   object
 1   Year       7965 non-null   object
 2   Month      7965 non-null   object
 3   Age        7965 non-null   object
 4   Sex        7965 non-null   object
 5   Race       7965 non-null   object
 6   Ethnicity  7965 non-null   object
 7   School     7965 non-null   object
 8   Student    7965 non-null   object
 9   Category   7965 non-null   object
 10  Time       7965 non-null   object
 11  Location   7965 non-null   object
 12  Region     7965 non-null   object
dtypes: object(13)
memory usage: 809.1+ KB

In [6]:
data['Charge'].nunique()

605

In [7]:
data['Year'].nunique()

8

In [9]:
data['Month'].unique()

array([9, 10, 12, 2, 4, 5, 6, 11, 1, 3, 'Missing', 7, 8], dtype=object)

In [10]:
data['Age'].unique()

array([17, 16, 19, 14, 41, 13, 38, 15, 18, 28, 12, 29, 39, 33, 36, 30, 25,
       20, 27, 35, 'Missing', 37, 42, 3070, 26, 8, 22, 40, 7, 10, 11,
       4050, 56, 31, 50, 32, 0, 64, 77, 3040, 9, 34, 3050, 2540, 3, 6, 60,
       51, 72, 58, 4060, 5, 54, 65, 6070, 48, 45, 78, 75, 49, 57, 47, 43,
       63, 4, 3540, 46, 73, 44, 21, 23, 55, 24, 1, 52, 53, 59, 'missing',
       69, 99, 71, 4555, 2035, 4045], dtype=object)

In [11]:
data.head()

,Charge,Year,Month,Age,Sex,Race,Ethnicity,School,Student,Category,Time,Location,Region
0,VANDALIZE PROPERTY c266 Â§126A,2020,9,17,M,W,H,WILEY SCHOOL,N,F,2015,NORTH MAIN,Fall River
1,BURGLARIOUS INSTRUMENT POSSESS,2020,9,17,M,W,H,WILEY SCHOOL,N,F,2015,NORTH MAIN,Fall River
2,ATTEMPT TO COMMIT CRIME,2020,9,17,M,W,H,WILEY SCHOOL,N,M,2015,NORTH MAIN,Fall River
3,VANDALIZE PROPERTY c266 Â§126A,2020,9,16,M,W,N,WILEY SCHOOL,N,F,2015,NORTH MAIN,Fall River
4,BURGLARIOUS INSTRUMENT POSSESS,2020,9,16,M,W,N,WILEY SCHOOL,N,F,2015,NORTH MAIN,Fall River

In [28]:
data['Charge'].nunique()

605

In [12]:
data['Sex'].unique()

array(['M', 'F', 'Missing', 'U', 'Female', 'Male', 'Unknown',
       'Male to Female Transgender', 'missing'], dtype=object)

In [13]:
data['Ethnicity'].unique()

array(['H', 'N', 'U', 'Missing', 'White', 'Hispanic', 'Black', 'Asian',
       'WHITE ', 'Unknown', 'INDIAN', 'Non-Hispanic', 'Unavailble',
       'Not of Hispanic Origin', 'Hispanic Origin', 'Non Hispanic',
       'Not Hispanic', 'missing'], dtype=object)

In [15]:
data['School'].nunique()

103

In [18]:
data['Student'].unique()

array(['N', 'Missing', 'Yes', 'No', 'Unk', 'Unavailable', 'Y', 'y',
       'missing'], dtype=object)

In [19]:
data['Category'].unique()

array(['F', 'M', 'O', 'V', 'COURT REFERRAL', 'ARREST',
       'SCHOOL DISCIPLINE', 'Arrest', 'Summons', 'Missing',
       'Incident Response', 'SIMPLE ASSAULT', 'WEAPON VIOLATIONS',
       'AGGRAVATED ASSAULT', 'THREATS', 'INDECENT ASSAULT', 'TRESPASSING',
       'JUVENILE ISSUE/ CHINS', 'ALARM', 'PORNOGRAPHY',
       'FUGITIVE/WARRANT', 'THEFT FROM BUILDING', 'DRUG OFFENSES',
       'STOLEN PROPERTY', 'ROBBERY', 'VANDALISM', 'JUVENILE ISSUE/CHINS',
       'PSYCHIATRIC', 'DISORDERLY', 'Section 12 to Morton',
       'Discipline Handled By the School', 'PROTECTIVE CUSTODY',
       'WARRANT', 'COURTESY BOOKING', 'Referral', 'T', 'S', 'missing'],
      dtype=object)

In [20]:
data.head()

,Charge,Year,Month,Age,Sex,Race,Ethnicity,School,Student,Category,Time,Location,Region
0,VANDALIZE PROPERTY c266 Â§126A,2020,9,17,M,W,H,WILEY SCHOOL,N,F,2015,NORTH MAIN,Fall River
1,BURGLARIOUS INSTRUMENT POSSESS,2020,9,17,M,W,H,WILEY SCHOOL,N,F,2015,NORTH MAIN,Fall River
2,ATTEMPT TO COMMIT CRIME,2020,9,17,M,W,H,WILEY SCHOOL,N,M,2015,NORTH MAIN,Fall River
3,VANDALIZE PROPERTY c266 Â§126A,2020,9,16,M,W,N,WILEY SCHOOL,N,F,2015,NORTH MAIN,Fall River
4,BURGLARIOUS INSTRUMENT POSSESS,2020,9,16,M,W,N,WILEY SCHOOL,N,F,2015,NORTH MAIN,Fall River

In [22]:
data['Time'].nunique()

1071

Is time column important? -> because year shows 2020 but time is 2015 ?

In [24]:
data['Location'].unique()

array(['NORTH MAIN', 'ROCK', 'MELROSE', 'JEFFERSON', 'HOOD', 'MAPLE',
       'MERIDIAN', 'ELSBREE', 'LAMPHOR', 'STONEHAVEN', 'PARK', 'TECUMSEH',
       'BERGERON', 'AMITY', 'BARNES', 'HAMLET', 'GLOBE MILLS',
       'PRESIDENT', 'ROCKLAND', 'QUEQUECHAN', 'FOUNTAIN', 'FOURTH', 'RAY',
       'CAMBRIDGE', 'EASTERN', 'BRANCH', 'PEARCE', 'COUNTY', 'WALL',
       'DOVER', '2172 PLEASANT STREET', 'BARNABY', 'SLADE', 'STEVENS',
       'GLOBE', 'ESSEX', 'FREEDOM', 'ANTHONY', 'LINDEN', 'HUTTON',
       'Missing', 'REVERE HIGH SCHOOL', 'SUSAN B. ANTHONY',
       'RUMNEY MARSH MIDDLE', 'SEACOAST MIDDLE/HIGH', 'BEACHMONT SCHOOL',
       'GARFIELD SCHOOL', '150 Glen Street', '201 Willow Avenue',
       '81 Highland Ave', '290 Washington Street', '5 Middlesex Ave',
       '50 Cross Street', '5 Meachem Street', '177 Powderhouse Blvd',
       'SYCAMORE ST', 'HIGHLAND AV', 'CROSS ST', 'MEACHAM ST',
       'POWDER HOUSE BLVD', 'GLEN ST', 'CHERRY ST', 'WASHINGTON ST',
       'WILLOW AV', 'BONAIR ST', 'OTIS ST', 'BMC DURFEE HIGH SCHOOL',
       'WILEY SCHOOL', 'KATHLEEN HARRINGTON (ATLANTIS CHARTER SCHOOL)',
       'RESILIENCY SCHOOL (RPS) REAR OF SCHOOL',
       'ALTERNATIVE HIGH SCHOOL', 'ATLANTIS CHARTER SCHOOL',
       'TALBOT MIDDLE SCHOOL', 'DORAN SCHOOL', 'GREENE SCHOOL',
       'BMC DURFEE', 'ARGOSY COLLEGIATE H.S.', 'STONE THERAPUTIC SCHOOL',
       'DIMAN REG TECH VOC HIGH SCHOOL', 'HENRY LORD MIDDLE SCHOOL',
       'SPENCER BORDEN SCHOOL', 'MORTON MIDDLE SCHOOL',
       'RESILIENCY SCHOOL (RPS)', 'FONSECA (MARY L) SCHOOL',
       'KUSS (MATTHEW J) MIDDLE SCHOOL', 'FONSECA',
       'VIVEIROS (CARLTON M) SCHOOL', 'FRANK M SILVIA SCHOOL',
       'SAMUEL WATSON ELEMENTARY SCHOOL', "SAINT MICHAEL'S SCHOOL",
       'BISHOP CONNOLLY HIGH SCHOOL', 'EAST GATE CHRISTAIN ACADEMY',
       'HOLY TRINITY SCHOOL', 'LETERNEAU SCHOOL', 'FONSECA SCHOOL',
       'GREEN SCHOOL CAMBRIDGE ST', '33G ROLLING GREEN DR',
       '15 PAPINEAU ST', '161 LOWER WESTFIELD RD', '1045 MAIN ST',
       '851 MAIN ST Apt. #2L', '51 ADAMS ST', '317 MAPLE ST',
       '500 BEECH ST', 'PAIGE ST', 'FATHER MORISSETTE BLVD', 'JUNE ST',
       'GORHAM ST', 'DRAPER ST', 'SMITH ST', 'WOBURN ST', 'MAMMOTH RD',
       'FLEMING ST', 'Broadway St ', 'ENNELL ST', 'HIGHLAND ST',
       'FR MORISSETTE BLVD', 'RMS ALTERNATIVE SCHOOL',
       'FALL RIVER RPS - 290 ROCK', 'ARGOSY CHARTER SCHOOL',
       'WATSON SCHOOL', 'MORTON MIDDLE',
       'ATLANTIS CHARTER SCHOOL PARK ST', 'WALK IN',
       'FONSECA (MARY L) SCHOOL/WALK IN CAR 5', 'NORTH PARK-SKATE PARK',
       'FALL RIVER DEACONESS HOME', "DAVE'S BEACH BOAT RAMP",
       "SAINT ANNE'S HOSPITAL", 'BRISTOL COMMUNITY COLLEGE ELSBREE',
       '93 TECUMSEH ST', 'RISILIENCY PREPARATORY ACADEMY',
       'FALL RIVER TALBOT MIDDLE SCHOOL', 'HOLY NAME SCHOOL',
       'SPENCER BORDEN', 'TANSEY SCHOOL',
       'WALK IN SRO8/SRO9 - STONE THERAPUTIC SCHOOL',
       'ALDRICH SCHOOL HEAD START', 'RPA ALTERNATIVE SCHOOL',
       'BARNES STREET', 'RESILIENCY PREPARATORY ACADEMY (RPA)',
       'ARGOSY COLLEGIATE SCHOOL', 'RESILIENCY PREPARATORY ACADEMY',
       'FRANK M. SILVIA', '750 WINTER ST, KEEFE TECH',
       '115 A ST, FRAMINGHAM HIGH SCHOOL',
       '116 A ST, FRAMINGHAM HIGH SCHOOL',
       '117 A ST, FRAMINGHAM HIGH SCHOOL',
       '118 A ST, FRAMINGHAM HIGH SCHOOL',
       '119 A ST, FRAMINGHAM HIGH SCHOOL',
       '120 A ST, FRAMINGHAM HIGH SCHOOL',
       '169 LELAND ST, HARMONY GROVE E', '115 A ST, FRAMINGHAM HIGH SCHO',
       '301 BROOK ST, WALSH MIDDLE SCH', '100 DUDLEY RD, BARBIERI SCHOOL',
       '48 FROST ST, DUNNING SCHOOL', '139 NEWBURY ST, CHRISTA MCAULI',
       '215 ELM ST, CAMERON MIDDLE SCH', '29 UPPER JOCLYN AV, JUNIPER SC',
       '8 FLAGG DR, MCCARTHY SCHOOL', '575 PLEASANT ST, BROPHY SCHOOL',
       '454 WATER ST, KING SCHOOL', '492 POTTER RD, POTTER RD SCHOO',
       '31 FLAGG DR, FULLER MIDDLE SCH', '139 NEWBURY ST',
       '25 ELM ST, STAPLETON SCHOOL', '848 CENTRAL ST, LEARNING CENTE',
       '729 WATER ST, HEMENWAY SCHOOL', '29 UPPER JOCLYN AV, BLOCKS PRE',
       '139 NEWBURY ST FLR M116, CHRIS', '139 NEWBURY ST, BG MARKETING I',
       '50 LAWRENCE ST, THAYER SCHOOL', '750 WINTER ST',
       '25 ELM ST APT 303, STAPLETON S', 'Taunton', 'Lynn', 'SouthBridge',
       'missing', 'CALDWELL ALTERNATIVE SCHOOL', 'SIZER SCHOOL',
       'MCKAY SCHOOL', '100 ELM ST', '22 CHURCH ST'], dtype=object)

In [26]:
data['Region'].unique()

array(['Fall River', 'Methuen', 'Quincy', 'Revere', 'Somerville',
       'Missing', 'MA', 'RI', 'Boston', 'Holyoke', 'Lawrence', 'Lowell',
       'FALL RIVER', 'NEW BEDFORD', 'Taunton', 'Lynn', 'SouthBridge',
       'missing', 'FORT KNOX', 'SOMERSET', 'NORTH ATTLEBORO', 'WESTPORT',
       'COLUMBIA', 'SWANSEA', 'GRAFTON', 'PROVIDENCE', 'RIVERSIDE',
       'ATTLEBORO', 'ASSONET', 'DARTMOUTH', 'UNKNOWN', 'TAUNTON',
       'BROCKTON', 'FREETOWN', 'MEDWAY', 'Fitchburg', 'Everett'],
      dtype=object)

In [29]:
data.columns

Index(['Charge', 'Year', 'Month', 'Age', 'Sex', 'Race', 'Ethnicity', 'School',
       'Student', 'Category', 'Time', 'Location', 'Region'],
      dtype='object')

In [30]:
data['School'].unique()

array(['WILEY SCHOOL', 'ALTERNATIVE HIGH SCHOOL', 'TALBOT MIDDLE SCHOOL',
       'ATLANTIS CHARTER SCHOOL', 'MORTON MIDDLE SCHOOL',
       'STONE THERAPUTIC SCHOOL', 'FRANK M SILVIA SCHOOL',
       'BMC DURFEE HIGH SCHOOL', 'HOLY TRINITY SCHOOL',
       'DIMAN REG TECH VOC HIGH SCHOOL', 'RMS ALTERNATIVE SCHOOL',
       'ATLANTIS CHARTER SCHOOL PARK ST', 'FALL RIVER RPS - 290 ROCK',
       'BRISTOL COMMUNITY COLLEGE ELSBREE', '93 TECUMSEH ST',
       'FALL RIVER TALBOT MIDDLE SCHOOL', 'HENRY LORD MIDDLE SCHOOL',
       'BARNES STREET', 'ARGOSY COLLEGIATE SCHOOL',
       'KUSS (MATTHEW J) MIDDLE SCHOOL', 'SPENCER BORDEN SCHOOL',
       'GREENE SCHOOL', 'BMC DURFEE HIGH SCHOOL *** SEE COMMENTS ***',
       'WATSON SCHOOL', 'BISHOP CONNOLLY HIGH SCHOOL',
       'RESILIENCY SCHOOL (RPS)', 'HOLY NAME SCHOOL', 'DURFEE RPA',
       'DORAN SCHOOL', 'FONSECA (MARY L) SCHOOL',
       'ARGOSY COLLEGIATE H.S.', 'WATSON ELEMENTARY SCHOOL', 'DORAN',
       'ARGOSY CHARTER SCHOOL', 'VIVEIROS (CARLTON M) SCHOOL',
       'B.M.C. DURFEE HIGH SCHOOL', "SAINT MICHAEL'S SCHOOL",
       'KUSS MIDDLE SCHOOL', 'WALK IN--ARGOSY COLLEGIATE H.S.',
       'SUNSET HILL', 'PAPA GINOS', 'DURFEE HIGH SCHOOL', 'WALK IN---',
       'RPA', 'LETOURNEAU ELEMENTARY SCHOOL',
       'MORTON MIDDLE SCHOOL/WALK IN', 'B.M.C. DURFEE',
       'LETERNEAU SCHOOL', 'BMC DURFEE HIGH SCHOOL FOOTBALL FIELD',
       'FONSECA SCHOOL', 'Missing', 'Winter Hill Community School',
       'SHS New & Old', 'East Somerville Community School',
       'Healey School', 'West Somerville Neighborhood School',
       'Capuano School', 'Kennedy School', 'Argenziano School',
       'Brown School', 'Full Circle (OLD)', 'EWT SCHOOL',
       'PAULO FREIRE SOCIAL JUSTICE CHARTER SCHOOL', 'DEAN TECH',
       'SPRINGDALE EDUCATION CENTER SCHOOL', 'HOLYOKE HIGH SCHOOL',
       'LOWELL HIGH SCHOOL', 'ROBINSON SCHOOL', 'BUTLER MIDDLE SCHOOL',
       'LEBLANC SCHOOL', 'SULLIVAN SCHOOL', 'LOWELL CAREER ACADEMY',
       'BRIDGE PROGRAM', 'ROBINSON', 'McAvinnue', 'DALEY    SCHOOL',
       'Stoklosa School', 'GREENHALGE SCHOOL',
       'LOWELL HIGHSCHOOL FRESHMAN', 'ROGERS SCHOOL', 'missing',
       'HENRY LORD', 'UNKNOWN', 'WALK IN FOR CAR 12', 'TANSEY SCHOOL',
       'DIMAN LPN MODULAR CLASSROOM',
       'CHARLTON MEMORIAL HOSPITAL EMERGENCY ROOM', 'DIMAN',
       'STONE THERAPUTIC DAY SCHOOL', 'LINCOLN SCHOOL',
       'KATHLEEN HARRINGTON (ATLANTIS CHARTER SCHOOL)',
       'RESILIENCY SCHOOL (RPS) REAR OF SCHOOL', 'BMC DURFEE', 'FONSECA',
       'SAMUEL WATSON ELEMENTARY SCHOOL', 'EAST GATE CHRISTAIN ACADEMY',
       'GREEN SCHOOL CAMBRIDGE ST', '33G ROLLING GREEN DR',
       'CALDWELL ALTERNATIVE SCHOOL', 'SIZER SCHOOL', 'MCKAY SCHOOL',
       'Everett High School', 'DEVINS SCHOOL'], dtype=object)

In [31]:
data['Region'].unique()

array(['Fall River', 'Methuen', 'Quincy', 'Revere', 'Somerville',
       'Missing', 'MA', 'RI', 'Boston', 'Holyoke', 'Lawrence', 'Lowell',
       'FALL RIVER', 'NEW BEDFORD', 'Taunton', 'Lynn', 'SouthBridge',
       'missing', 'FORT KNOX', 'SOMERSET', 'NORTH ATTLEBORO', 'WESTPORT',
       'COLUMBIA', 'SWANSEA', 'GRAFTON', 'PROVIDENCE', 'RIVERSIDE',
       'ATTLEBORO', 'ASSONET', 'DARTMOUTH', 'UNKNOWN', 'TAUNTON',
       'BROCKTON', 'FREETOWN', 'MEDWAY', 'Fitchburg', 'Everett'],
      dtype=object)

In [32]:
data['Region'] = data['Region'].apply(lambda x: x.upper())

In [33]:
data['Region'].unique()

array(['FALL RIVER', 'METHUEN', 'QUINCY', 'REVERE', 'SOMERVILLE',
       'MISSING', 'MA', 'RI', 'BOSTON', 'HOLYOKE', 'LAWRENCE', 'LOWELL',
       'NEW BEDFORD', 'TAUNTON', 'LYNN', 'SOUTHBRIDGE', 'FORT KNOX',
       'SOMERSET', 'NORTH ATTLEBORO', 'WESTPORT', 'COLUMBIA', 'SWANSEA',
       'GRAFTON', 'PROVIDENCE', 'RIVERSIDE', 'ATTLEBORO', 'ASSONET',
       'DARTMOUTH', 'UNKNOWN', 'BROCKTON', 'FREETOWN', 'MEDWAY',
       'FITCHBURG', 'EVERETT'], dtype=object)